.blue {
    color: #1d52fe
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    margin-bottom: 200px;
}

header {
    background-image: url("planet_glow.png");
    background-size: 100% 100%; /* Stretches to fill, potentially distorting */
    background-repeat: no-repeat; /* Prevents tiling */
    width: 100%;
    height: 100%;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #ffffff;
    font-size: 40px;
}

.nav-button {
    background-color: #1d52fe;
    font-size: 20px;
    color: white;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    border: none;
}

.header-text {
    margin-top: 300px;
    color: white;
    font-size: 50px;  
    width: 40%;
}

h3 {
    color: white;
    font-weight: 200;
}

audio {
    margin-top: 10vh;
}

main {
    margin-top: 100px;
}

.image-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 90%;
}

.image-item > img,
.image-item > video {
    width: 90%;
    height: auto;
    display: block;
}

.avatar {
    width: 70vw;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatar-video {
    height: 25vw;
}

.avatar-text {
    font-weight: 200;
    text-align: left;
    font-size: 1.3vw;
}

.video {
    margin-top: 200px;
    width: 90%;
}

.iframe {
    margin-top: 200px;
    max-width: 600px;
    width: 60vw;
    height: 60%;
    filter: invert(1) hue-rotate(180deg);
    transform: scale(1.6)
}

iframe {
    max-width: 600px;
    width: 60vw;
    border: black 1px solid;
}

.desc {
    margin-top: 15px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 150px;
}

.desc summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    user-select: none;
}

.desc summary::-webkit-details-marker {
    display: none; /* hide default arrow */
}

.desc .arrow {
    transition: transform 0.3s ease;
    font-size: 12px;
}

.desc[open] .arrow {
    transform: rotate(180deg);
}

.desc p {
    width: 80%;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 950px) {
    .desc {
        font-size: 16px;
        width: 100%;
    }
}

.conclusion {
    margin-top: 200px;
    width: 80%;
}

.conclusion > h1 {
    margin-top: 100px;
}

.conclusion > p {
    font-size: 18px;
    text-align: justify;
}

#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: none;

    background-color: #002971;
    color: white;
    font-size: 24px;

    cursor: pointer;
    z-index: 9999; /* поверх всех элементов */

    display: none; /* сначала скрыта */
}

#toTop:hover {
    background-color: #555;
}



@media (max-width: 950px) {
    header {
        background-size: auto 100%; /* не обрезает, сжимает */
        background-position: top center;
    }

    .header-text {
        margin-top: 20vh;
        font-size: 35px;  
        width: 70%;
    }

    .image-list {
        flex-direction: column;
    }

    .image-item > img{
        width: 100%;
        height: auto;
        display: block;
    }

    .avatar { 
        flex-direction: column;
    }

    .avatar-text, 
    .avatar-video {
        width: 90%;
        text-align: center;
        font-size: 15px;
        text-align: left;
    }

    .avatar-video {
        height: 100vw;
    }

    .iframe {
        transform: scale(1.3);
    }
}

@media (max-width: 650px) {
    nav {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blue {
        color: white;
    }

    .nav-logo,
    .nav-button {
        display: none;
    }

    .header-text {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .header-text {
        font-size: 25px;
    }
}